/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #656565;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #771915;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  /*color: rgb(76, 179, 213);*/
  color: #02574a;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
/* bromeon: strings */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  /*color: #b17037;*/
  color: #771915;
}

/* Tomorrow Aqua */
/* bromeon: class + fn names */
.hljs-title,
.css .hljs-hexcolor {
  color: rgb(1, 35, 62);
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-section, /* TOML/YAML headers */
.hljs-keyword,
.javascript .hljs-function {
  /* color: #b294bb;*/
  /*color: #02517b;*/
  color: #024b86
}

/* bromeon: proc-macro attributes */
.hljs-meta {
  /*color: #c69c79;*/
  /*color: #b57c4d;*/
  color: rgb(96, 52, 31);
}

.hljs {
  display: block;
  overflow-x: auto;

  background: rgb(206, 184, 176);
  color: #000;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.hljs-addition {
  color: #718c00;
}

.hljs-deletion {
  color: #c82829;
}
