/* Tomorrow Night Theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */

/* Tomorrow Comment */
.hljs-comment {
  color: #7b7c7b;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-attr,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  /*color: #cc6666;*/
  color: rgb(109, 194, 223);
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  /*color: rgb(76, 179, 213);*/
  color: rgb(79, 191, 174);
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
/* bromeon: strings */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  /*color: #b17037;*/
  color: #dfa558;
}

/* Tomorrow Aqua */
/* bromeon: class + fn names */
.hljs-title,
.css .hljs-hexcolor {
  color: rgb(228, 162, 123)
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-section, /* TOML/YAML headers */
.hljs-keyword,
.javascript .hljs-function {
  /* color: #b294bb;*/
  color: rgb(33, 154, 223);

}

/* bromeon: proc-macro attributes */
.hljs-meta {
  /*color: #c69c79;*/
  /*color: #b57c4d;*/
  color: #9f9280;
}

.hljs {
  display: block;
  overflow-x: auto;

  background: rgb(48, 43, 40);
  color: #c5c8c6;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.hljs-addition {
  color: #718c00;
}

.hljs-deletion {
  color: #c82829;
}
